@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-one: #FF8484;
    --color-two: #F7D9C4;
    --color-text: #232323;
    --color-bg-1: #DCE8EB;
    --color-bg-2: #EFEFEF;

    --font: "DM Sans", sans-serif;
}

body {
    font-family: var(--font);
    color: var(--color-text);
    
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
}