/* Header */
.header {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    background: var(--color-bg-2);
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-logo a {
    display: flex;
    align-items: center;
}

.header .inner-logo img {
    height: 50px;
    width: auto;
}

.header .inner-logo span {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text);
    margin-left: 10px;
}

.header .inner-menu ul {
    display: flex;
    list-style: none;
}

.header .inner-menu ul li a {
    display: inline-block;
    padding: 35px 20px;
    color: var(--color-text);
    font-size: 18px;
}

.header .inner-menu ul li a:hover {
    background: #fff;
}

.header .inner-social ul {
    display: flex;
    align-items: center;
}

.header .inner-social ul li {
    margin-left: 10px;
}

.header .inner-social ul li a {
    /* display: inline-block;
    text-align: center;
    line-height: 40px; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background: #fff;
    font-size: 20px;
    color: var(--color-text);
}

.header .inner-icon-mobile {
    display: none;
}

@media (max-width: 991.98px) {
    .header {
        padding: 15px 20px;
    }

    .header .inner-icon-mobile {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .header .inner-menu {
        display: none;
    }

    
}

/*End Header */

/* Section One */
.section-one {
    margin-top: 80px;
    background-image: url(../images/background1.jpg);
    padding: 170px 0;
    position: relative;
}

.section-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
}

.section-one .inner-wrap {
    position: relative;
}


.section-one .inner-wrap .inner-sub-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.section-one .inner-wrap .inner-title {
    color: #fff;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-one .inner-wrap .inner-desc {
    color: #fff;
    margin-bottom: 30px;
}

.section-one .button {
    margin-right: 20px;
    margin-bottom: 10px;
}

@media (max-width: 767.98px) {
    .section-one .inner-wrap {
        text-align: center;
    }
}



/*End Section One */

/* Buttons */
.button {
    cursor: pointer;
    color: var(--color-text);
    background: #fff;
    border: 2px solid #fff;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 5px;
}

.button-two {
    background: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}

.button-two:hover {
    background: #fff;
    color: var(--color-text);
    border-color: #fff;
}

.button-two-outline {
    background: transparent;
    color: #fff;
}

.button-two-outline:hover {
    background: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}


.button-dark {
    background: var(--color-text);
    color: #fff;
    border-color: var(--color-text);
}

.button-dark:hover {
    background: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}

/*End Buttons */


/* Section Two */
.section-two {
    padding: 80px 0 50px;
    background: var(--color-bg-2);
}


.section-two .inner-wrap {
    display: flex;
    align-items: center;
}

.section-two .inner-wrap .inner-image {
    width: 40%;
    margin-right: 5%;
}

.section-two .inner-wrap .inner-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.section-two .inner-wrap .inner-content {
    flex: 1;
}

.section-two .inner-wrap .inner-sub-title {
    font-size: 20px;
    margin-bottom: 25px;
    padding: 30px 0;
}

.section-two .inner-wrap .inner-title {
    font-size: 60px;
    margin-bottom: 30px;
}

.section-two .inner-wrap .inner-list {
    display: flex;
    flex-wrap: wrap;
}

.section-two .inner-wrap .inner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    /* padding: 10px; */
    border-radius: 8px;
    margin-right: 20px;
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
}

.section-two .inner-wrap .inner-item i {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--color-one);
}

.section-two .inner-wrap .inner-item span {
    font-weight: 600;
}

.section-two .inner-wrap .inner-desc {
    opacity: 0.8;
    font-size: 18px;
    margin-bottom: 20px;
}

@media (max-width: 991.98px) {
    .section-two .inner-wrap {
        flex-wrap: wrap;
    }

    .section-two .inner-wrap .inner-image {
        width: 100%;
    }

    .section-two .inner-wrap .inner-content {
        width: 100%;

    }

}

@media (max-width: 767.98px) {
    .section-two .inner-wrap .inner-content {
        text-align: center;

    }

    .section-two .inner-wrap .inner-title {
        font-size: 40px;
    }

    .section-two .inner-wrap .inner-list {
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .section-two .inner-wrap .inner-title {
        font-size: 32px;
    }

}

/* End Section Two */

/* Section Three */
.section-three {
    background-color: var(--color-bg-2);
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-three .inner-wrap {
    display: flex;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
}

.section-three .inner-content {
    flex: 1;
}

.section-three .inner-content .inner-sub-title {
    color: #909090;


}

.section-three .inner-content .inner-title {
    color: var(--color-text);
    font-size: 68px;
    margin-top: 25px;
}

.section-three .inner-image {
    width: 33%;
    margin-left: 50px;
    position: relative;
}

.section-three .inner-image img {
    height: auto;
    width: 100%;
    border-radius: 9px 9px 0 0;
    position: absolute;
    bottom: -40px;
}

@media (max-width: 1198.98px) {
    .section-three .inner-image {

        margin-left: 30px;
    }

    .section-three .inner-content .inner-title {
        font-size: 58px;
    }
}

@media (max-width: 991.98px) {
    .section-three .inner-wrap {
        flex-wrap: wrap;
    }

    .section-three .inner-image {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }

    .section-three .inner-image img {
        position: static;
        width: 50%;
        height: auto;
        margin-bottom: -40px;
    }

    .section-three .inner-content {
        width: 100%;
        flex: none;
        margin-bottom: 40px;
    }

    .section-three .inner-content .inner-title {
        font-size: 48px;
    }
}

@media (max-width: 767.98px) {
    .section-three {
        padding: 60px 0;
    }

    .section-three .inner-image img {
        width: 96%;
    }

    .section-three .inner-content {
        text-align: center;
    }
}

@media (max-width: 575.98px) {
    .section-three .inner-content .inner-title {
        font-size: 38px;
    }
}

/* End Section Three */

/* Box Head */
.box-head {
    margin-bottom: 30px;
}

.box-head-center {
    text-align: center;
}

.box-head .inner-sub-title {
    color: #909090;
    margin-bottom: 10px;
}

.box-head .inner-title {
    font-size: 68px;
    color: var(--color-text);
}

/* End Box Head */

/* Contact Form */
.contact-form {
    padding: 80px 0;
}

.contact-form .inner-wrap {
    background: var(--color-bg-2);
    padding: 60px 60px;
    border-radius: 8px;
}

.contact-form .inner-form-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.contact-form .inner-form-wrap input,
.contact-form .inner-form-wrap textarea {
    margin-bottom: 15px;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    outline: 0;
}

.contact-form .inner-form-wrap input {
    width: 32.5%;
    height: 50px;
}

.contact-form .inner-form-wrap textarea {
    width: 100%;
    height: 150px;
}

.contact-form .inner-button {
    text-align: right;
}

@media (max-width: 991.98px) {
    .contact-form .inner-form-wrap input {
    width: 100%;
}
}

@media (max-width: 575.98px) {
    .contact-form .inner-wrap {
    padding: 25px;
}
}

/* End Contact Form */

/* View In Action */
.view-action {
    padding: 80px 0;
    background: var(--color-bg-2);
}

.view-action .inner-wrap {
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.view-action .inner-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.view-action .inner-wrap .inner-button {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    background: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.view-action .inner-wrap .inner-button::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    opacity: 0.8;
    animation-duration: 1s;
    animation-name: icons;
    animation-iteration-count: infinite;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.view-action .inner-wrap .inner-button i {
    position: relative;
}

@keyframes icons {
    from {
        width: 120px;
        height: 120px;
        opacity: 0.8;
    }

    to {
        width: 160px;
        height: 160px;
        opacity: 0;
    }
}

@media (max-width: 767.98px) {
    .box-head .inner-title {
        font-size: 48px;
    }

    .view-action .inner-wrap .inner-button {
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        width: 80px;
        height: 80px;
    }

    .view-action .inner-wrap .inner-button::before {

        width: 80px;
        height: 80px;
    }

        @keyframes icons {
            from {
                width: 80px;
                height: 80px;
                opacity: 0.8;
            }

            to {
                width: 120px;
                height: 120px;
                opacity: 0;
            }
        }
}



/* End View In Action */


/* Our Goal */
.our-goal {
    padding: 80px 0;
}

.our-goal .inner-content {
    margin: 30px 0;
}

.our-goal .inner-content .inner-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.our-goal .inner-content .inner-desc {
    color: var(--color-text);
    font-size: 20px;
    line-height: 1.5;
}

.our-goal .inner-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-goal .inner-box ul li {
    font-size: 22px;
    color: var(--color-text);
    margin-bottom: 40px;
}

.our-goal .inner-box ul li::before {
    content: "✓";
    background-color: #ddd;
    padding: 8px 12px;
    border-radius: 50%;
}

@media (max-width: 991.98px) {
    .our-goal .inner-box {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .our-goal .inner-content {
        text-align: center;
    }

    
}

/* End Our Goal */

/* Core Features */
.core-features {
    background: var(--color-bg-2);
    padding: 80px 0;
}


.core-features .inner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.core-features .inner-box {
    background: #fff;
    margin-left: 45px;
    margin-top: 25px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.core-features .inner-img {
    width: 350px;
    height: auto; 
}

.core-features .inner-img img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3; 
}

.core-features .inner-box .inner-content {
    padding: 35px;
    
}

.core-features .inner-box .icon-box {
    display: inline-block;
    position: absolute;
    padding: 20px 20px;
    background: #fff;
    bottom: 29%;
    right: 10%;
    border-radius: 15px;
}

.core-features .inner-box .icon-box:hover {
    background: #777777;
    color: #fff;
}

.core-features .inner-box .inner-content .inner-desc {
    font-size: 18px;
    color: #777777;
    margin-bottom: 20px;
}

.core-features .inner-box .inner-content .inner-title {
    font-size: 32px;
}


@media (max-width: 991.98px) {
    .core-features .inner-wrap {
        flex-wrap: wrap;
    }
}

/* End Core Features */


/* Careers */
.careers {
    background: #1b2026;
    padding: 180px 0;
    
}

.careers .inner-wrap {
    background: #fff;
    padding: 80px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.careers .inner-wrap .box-head {
    flex: 1 1 55%;
    min-width: 280px;
}

.careers .inner-item {
    display: flex;
    justify-content: space-between;
}

.careers .inner-wrap .inner-list {
    flex: 1 1 35%;
    min-width: 220px;
}

.careers .inner-list .inner-item {
    border: 1px solid #ddd;
    padding: 24px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.careers .inner-list .inner-item:hover {
    background-color: #777777;
}

.careers .inner-list .inner-item .inner-content-list {
    color: #777777;
    font-size: 22px;
    display: flex;
}

.careers .inner-list .inner-item:hover .inner-content-list {
    color: #fff;
}

.careers .inner-list .inner-item .inner-content-list i {
    margin-right: 20px;
}



.careers .inner-list .inner-item .icon-box {
    color: #777777;
    font-size: 18px;
}

@media (max-width: 991.98px) {
    .careers .inner-wrap {
        flex-direction: column;
    }

    .careers .inner-wrap .box-head {
        text-align: center;
    }
}

/* End Careers */

/* Team Members */
.team-members {
    background: var(--color-bg-2);
    padding: 80px 0;
}

.team-members .inner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.team-members .inner-box {
    width: 320px;
    height: auto;
    background-color: #fff;
    padding: 34px;
    margin-right: 25px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.team-members .inner-box img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

.team-members .inner-box .inner-name {
    font-size: 28px;
    margin-bottom: 20px;
}  

.team-members .inner-box .inner-role {
    font-size: 18px;
    color: #777777;
    margin-bottom: 20px;
}

.team-members .inner-social ul {
    display: flex;
    align-items: center;
}

.team-members .inner-social ul li {
    margin-left: 10px;
}

.team-members .inner-social ul li a {
    /* display: inline-block;
    text-align: center;
    line-height: 40px; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background: #fff;
    font-size: 20px;
    color: var(--color-text);
}


@media (max-width: 991.98px) {
    .team-members .inner-wrap {
        flex-wrap: wrap;
    }
}

@media (max-width: 575.98px) {
    .team-members .inner-box {
        display: block;
        width: 100%;
    }
}

/* End Team Members */

/* Section Four */
.section-four {
    background: var(--color-bg-2);
    padding: 80px 0;
    
    overflow: visible;
}

.section-four .inner-img {
    /* width: 100%; */
}

.section-four .inner-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.section-four .inner-wrap {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    padding: 30px;
    margin: -60px auto 0;
    position: relative;
    background: #fff;
    width: 90%;
    border-radius: 15px;
    z-index: 4;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.section-four .inner-wrap .inner-item {
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 20px;
}


.section-four .inner-wrap .inner-item p, h2 {
    font-size: 20px;
}

.section-four .inner-wrap .inner-item p {
    color: #777777;
    margin-bottom: 10px;
}

@media (max-width: 991.98px) {
    .section-four .inner-wrap {
        flex-wrap: wrap;
    }

    .section-four .inner-wrap .inner-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767.98px) {
    .section-four .inner-wrap {
        flex-direction: column;
    }

    .section-four .inner-wrap .inner-item {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .section-four .inner-wrap .inner-button {
        margin: auto;
    }
}
/* End Section Four */